/* src/components/HeroSection.css */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 1rem;
}

.hero-buttons a {
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  background-color: #008AC0;
  color: white;
  transition: background 0.3s;
}

.hero-buttons a:hover {
  background-color: #005f87;
}